body {
  background-color: #f7e1bf;
}
section {
  flex-direction: column;
  height: 80vh;
  /* border: 5px solid rgb(122, 100, 122); */
  width: 35%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  font-size: 80px;
}

.rock,
.paper,
.scissors {
  background: linear-gradient(
    to right,
    #eb5757,
    /* #ec606c,*/ #4364ef,
    #41d589
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main {
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
  /* border: 5px solid darkblue; */
  height: 80vh;
  width: 45%;
  margin-top: 460px;
}
button {
  height: 8vh;
  width: 40vh;
  margin: 150px 10px;
  background: linear-gradient(to right, #262d3d, #53565b);
  color: white;
  border-radius: 15px;
}
